doctype html
html(lang="zh-tw")
  head
    title= pageTitle
    script(src="js/jquery-1.11.1.min.js")
    script(src="js/bootstrap.js")
  body
    h1 Prototype Pages:
    ul
      li with draw:
        a(
        href="/withdraw.html",
        target="_blank"
        ) withdraw
      
